<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>

<body>

    <div class="main">
        <div class="main1">
            <label>MOTO HANGER</label>
            <div class="menu">
                <a href="#cond">Condact</a>

                <a href="{% url 'homepage' %}">Home</a></div>
        </div>
        <div class="main2">
            <center>
                <div class="prodeta">

                    <div class="bill">


                        <p class="dat">{{d1}}</p>
                        <p class="ti">{{ti}}</p>
                        <center>
                            <br>
                            <h3>Bill Details</h3>
                        </center>
                        <div class="im"><img src="{{pan.p_img.url}}">

                        </div>

                        <div class="br"><img src="{{pan.brand.b_img.url}}">
                            <p>{{pan.brand.b_name}}</p>
                        </div>
                        <table border="3" cellpadding="3">
                            <tr>
                                <th>No </th>
                                <th>Customer </th>
                                <th>Product </th>
                                <th>Brand </th>
                                <th>Quantity </th>
                                <th>MRP </th>
                                <th>Delivery </th>
                            </tr>

                            <tr class="tr2" style="height: 150px;">
                                <td>1</td>
                                <td>{{user.username}}</td>
                                <td>{{pan.p_name}}</td>
                                <td>{{pan.brand}}</td>
                                <td>{{q}}</td>
                                <td>Rs {{pan.p_price}}</td>
                                <td>Free</td>
                            </tr>
                            <tr style="height: 50px;">

                                <td colspan="4">Total Price </td>
                                <td>{{q}}</td>
                                <td>{{pan.p_price}}</td>
                                <td>{{tot}} /-</td>
                            </tr>

                        </table>
                        <p class="end">Thakyou joint with Us<br>Terams & conditions apply</p>

                    </div>




                </div>


        </div>
        </center>

        <div class="contact" id="cond">

            <div class="time">
                <p>24*7 <br><label>Avalible</label></p>


                <p>1 year<br><label>Waranty</label> </p>
                <p>20 day <br><label> Return policy</label></p>
                <p>Free <br><label> Delivery</label></p>
            </div>
            <div class="con">
                <center>
                    <h3>Address Line</h3>
                </center>
                <p>3rd Floor, Management Building, Vidyavihar Campus,<br> Vidyavihar Mumbai,Maharashtra 421201<br>LandLine : 07232,091-2141<br> Mobile : 7215483612</p>
            </div>
            <center>
                <div class="soci-media">

                    <a href="#" class="fa fa-facebook" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-twitter" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-envelope" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-instagram" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-whatsapp" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-youtube" style="font-size:40px;"></a>
                    <p>Copyright © 2022 All Rights<br> Reserved By Bookozone</p>
                </div>
            </center>
            </center>
        </div>
    </div>
    <script src="./prodeta.js">
    </script>
</body>

</html>