<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bill.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>

<body>

    <div class="main">
        <div class="main1">
            <label>MOTO HANGER</label>
            <div class="menu">
                <a href="#">Condact</a>
                <a href="#">Login</a>
                <a href="#">Home</a></div>
        </div>
        <div class="main2">
            <center>
                <div class="prodeta">

                    <div class="bill">


                        <p class="dat">23-08-2022</p>
                        <p class="ti">02:11pm</p>
                        <center>
                            <br>
                            <h3>Bill Details</h3>
                        </center>
                        <div class="im"><img src="{% static 'img/cluth cable.jpg' %}">

                        </div>

                        <div class="br"><img src="{% static 'img/benz.png' %}">
                            <p>mitsubishi</p>
                        </div>
                        <table border="3" cellpadding="3">
                            <tr>
                                <th>No </th>
                                <th>Customer </th>
                                <th>Product </th>
                                <th>Brand </th>
                                <th>Quantity </th>
                                <th>MRP </th>
                                <th>Delivery </th>
                            </tr>

                            <tr class="tr2" style="height: 150px;">
                                <td>1</td>
                                <td>adarsh</td>
                                <td>fuelfilter</td>
                                <td>Mahindra</td>
                                <td>1</td>
                                <td>Rs 1250</td>
                                <td>Free</td>
                            </tr>
                            <tr style="height: 50px;">

                                <td colspan="4">Total Price </td>
                                <td>1</td>
                                <td>250</td>
                                <td>250/-</td>
                            </tr>

                        </table>
                        <p class="end">Thakyou joint with Us<br>Terams & conditions apply</p>
                        <!--<p class="p">Products &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;: &nbsp; &nbsp; &nbsp;</p>
                        <div class="im"><img src="./img/assets/fuelfill.jpg"></div>
                        <p class="u">UserName &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;: &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;adarsh</p>
                        <p class="bd">Brand &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;: &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Mahindra</p>-->
                    </div>




                </div>

                <!--<button class="button" id="cheout" disabled>Checkout</button>-->
        </div>
        </center>

        <div class="contact" id="cond">

            <div class="time">
                <p>24*7 <br><label>Avalible</label></p>


                <p>1 year<br><label>Waranty</label> </p>
                <p>20 day <br><label> Return policy</label></p>
                <p>Free <br><label> Delivery</label></p>
            </div>
            <div class="con">
                <center>
                    <h3>Address Line</h3>
                </center>
                <p>3rd Floor, Management Building, Vidyavihar Campus,<br> Vidyavihar Mumbai,Maharashtra 421201<br>LandLine : 07232,091-2141<br> Mobile : 7215483612</p>
            </div>
            <center>
                <div class="soci-media">

                    <a href="#" class="fa fa-facebook" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-twitter" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-envelope" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-instagram" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-whatsapp" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-youtube" style="font-size:40px;"></a>
                    <p>Copyright © 2022 All Rights<br> Reserved By Bookozone</p>
                </div>
            </center>
            </center>
        </div>
    </div>
    <script src="./prodeta.js">
    </script>
</body>

</html>