<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Document</title>
</head>

<body>
    <div class="main">

        <div class="main1">
            <label>AUTO HANGER</label>
            <div class="menu">
                <a href="#cond">Condact</a>

                <a href="{% url 'homepage' %}">Home</a></div>
        </div>

        <div class="brand">
            <div class="im"><img src="{{ban.b_img.url}}"></div>
            <p>{{ban.b_name}}</p>
        </div>
        <p class="au">Avalible Parts Result : {{ban.partss.count}}</p>


        <center>
            <div class="smain">
                <br>
                <div class="prd">
                    {% for i in ban.partss.all %}

                    <div class="pr1">
                        <a href="prodetails?prbid={{i.id}}">
                            <div class="brimg"><img src="{{i.p_img.url}}"></div>
                        </a>
                        <div class="brname">{{i.p_name}}</div>

                    </div>

                    {% endfor %}




                </div>
        </center>

        <div class="contact" id="cond">

            <div class="time">
                <p>24*7 <br><label>Avalible</label></p>


                <p>1 year<br><label>Waranty</label> </p>
                <p>20 day <br><label> Return policy</label></p>
                <p>Free <br><label> Delivery</label></p>
            </div>
            <div class="con">
                <center>
                    <h3>Address Line</h3>
                </center>
                <p>3rd Floor, Management Building, Vidyavihar Campus,<br> Vidyavihar Mumbai,Maharashtra 421201<br>LandLine : 07232,091-2141<br> Mobile : 7215483612</p>
            </div>
            <center>
                <div class="soci-media">

                    <a href="#" class="fa fa-facebook" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-twitter" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-envelope" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-instagram" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-whatsapp" style="font-size:40px;"></a>
                    <a href="#" class="fa fa-youtube" style="font-size:40px;"></a>
                    <p>Copyright © 2022 All Rights<br> Reserved By Bookozone</p>
                </div>
            </center>
        </div>
        </div>
    </div>
</body>

</html>